<section class="py-5">
  <div class="container">
    <div class="card">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 mb-3 text-center">Edit <%= resource_name.to_s.humanize %></h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-group input-group mb-3">
            <%= f.label :username, class:"form-input" %> 
            <%= f.text_field :username, autocomplete: "username", class: "form-control" %>
          </div>
          
          <div class="form-group input-group mb-3">
            <%= f.label :email, class:"form-input" %> 
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group input-group mb-3">
            <%= f.label :password, class:"form-input" %> 
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "leave blank if you don't want to change" %>
          </div>

          <div class="form-group input-group mb-3">
            <%= f.label :password_confirmation, class:"form-input" %> 
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group input-group mb-3">
            <%= f.label :current_password, class:"form-input" %> 
            <%= f.password_field :current_password, class: "form-control" , autocomplete: "current-password", placeholder: "we need your current password to confirm your changes" %>
          </div>
          <div class="form-group text-center mb-3">
              <%= f.submit class: "btn btn-primary btn-block" %>
          </div> <!-- form-group// -->      
        <% end %>
      </article>
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 mb-3 text-center">Cancel my account</h4>
        <%= button_to "I dont want be here anymore, I'm leaving", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger center" %>
      </article>
    </div> <!-- card.// -->
    <%= link_to 'Back', root_path, class: "btn btn-outline-dark mt-3 mb-3" %>
  </div>
</section>
      