<section class="py-5">
  <div class="container">
    <div class="card apple_pagination">
      <div class="row px-3">
        <h4 class="card-title mt-3 mb-3 text-center col-10">USERS LIST</h4>
      </div>
      <table class="table col-10">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <% if user.admin? %>
                    <%= link_to 'Remove Admin', admin_path(user), class:"btn btn-secondary" , method: :post, data: { confirm: 'Are you sure?' } %>
                  <% else %>                  
                    <%= link_to 'Make Admin', admin_path(user), class:"btn btn-secondary", method: :post, data: { confirm: 'Are you sure?' }  %>
                  <% end %>
                  
                  <%= link_to 'Edit', edit_user_registration_url(user), class:"btn btn-secondary" if user.id == current_user.id %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users %>
    </div> 
  </div>
</section>
