
<h1><%= @essence.name %></h1>
<h4>Price :<%= @essence.price %></h4>
<h4>Brand : <%= @essence.brand %></h4>
<h4>Warrancy Time<%= @essence.warrancy %></h4>


<%= link_to 'Edit', edit_essence_path(@essence) %> |
<%= link_to 'Back', products_path %>
