
<h1><%= @accessory.name %></h1>
<h4>Price :<%= @accessory.price %></h4>
<h4>Brand : <%= @accessory.brand %></h4>



<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
